{
        debug
        admin off
        on_demand_tls {
                ask {$DOMAIN_SERVICE_ENDPOINT}
        }

        storage dynamodb {$TABLE_NAME} {
                aws_region {$TABLE_REGION}
        }
}

:80 {
       respond /health "Im healthy" 200
}

:443 {
        tls {$LETSENCRYPT_EMAIL_ADDRESS} {
                on_demand
        }

        reverse_proxy https://{$TARGET_DOMAIN} {
                header_up Host {$TARGET_DOMAIN}
                header_up User-Custom-Domain {host}
                header_up X-Forwarded-Port {server_port}

                health_timeout 5s
        }
}